.MainLayout {
    height: 100vh;
    width: 100vw;
    display: flex;

    &_side_bar_wrapper {
        height: 100vh;
        min-width: 15rem;
        max-width: 15rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    &_content_wrapper {
        height: 100vh;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}