// Font family
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// color
$primary-color: #4458dc;
$secondary-color: #854fee;
$color-white: white;
$color-black: black;

// gradient
$primary-gradient: linear-gradient(90deg, rgba(133,79,238,1) 10%, rgba(68,88,220,1) 100%);
