@import "../../styles/index.scss";

.Toggle {
  width: 3.4rem;
  height: 1.8rem;
  display: block;
  .slider {
    width: 100%;
    height: 100%;
    background-color: rgb(212, 210, 210);
    border-radius: 2rem;
    cursor: pointer;
    display: block;
    position: relative;
    transition: .2s;
    // background-color: white !important;
  }
  .slider::before {
    content: '';
    position: absolute;
    height: 1.3rem;
    width: 1.3rem;
    top: calc((1.8rem - 1.3rem) / 3);
    left: calc((3.4rem - (2 * 1.3rem)) / 3);
    border-radius: 50%;
    transition: .4s;
    border: 1px solid transparent;
    background-color: white !important;
  }

  .toggle_off.slider::before {
    transform: translateX(100%);
  }
  .toggle_off.slider {
    background-color: $primary-color;
    // background: $primary-gradient;
  }
}
